<html lang="en">
  <%- include('../includes/head',{title: 'Books | NextBook'})%>
  <body>
    <section class="mainContainer">
      <%- include('../includes/header')%>
      <!-----------Suggested Books-------->

      <section class="main">
        <div class="type-container">
          <% books.forEach(book =>{ %>
          <div class="container">
            <% if(book.isInStock){%>
            <span class="pages">Pages: <%= book.pages%></span>
            <!-- <span class="tags">Tags: <%= book.tags%></span> -->
            <p class="review">Review: <%= book.review %></p>
            <p class="rating">Ratings: <%= book.rating%></p>
            <% } else { %><%= book.name %> [Isn't reviewed] <% } %>
          </div>
          <% }) %>
          <div class="container">
            <span class="pages">Pages: <%= books.pages%></span>
            <span class="tags">Tags: <%= books.tags%></span>
            <p class="review"></p>
          </div>
          <span class="type">type</span>
        </div>
      </section>
      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
