<html lang="en">
  <%- include('../includes/head',{title: 'Books | NextBook'})%>
  <body>
    <section class="mainContainer">
      <header class="head">
        <nav class="head-nav">
          <div class="logo">
            <p class="logoText">NextBook</p>
          </div>
          <ul class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="./books/addNew">Add new</a></li>
            <li><a href="./books">All books</a></li>
            <li><a href="./books/howItWorks">How it works</a></li>
            <div id="icon"><i class="fa-solid fa-bars"></i></div>
          </ul>
        </nav>
      </header>
      <!-----------Suggested Books-------->

      <section class="main books-grid">
        <% books.forEach(book =>{ %>
        <div class="book">
          <% if(book.isInStock){%>
          <span class="pages">Name: <%= book.name%></span><br />
          <span class="pages">Author: <%= book.author%></span><br />

          <span class="pages">Pages: <%= book.pages%></span><br />
          <span class="review">Review: <%= book.review %></span><br />
          <span class="review">Genre: <%= book.genre %></span><br />
          <span class="rating">Ratings: <%= book.rating%></span><br />
          <div class="btns">
            <button class="btn" type="submit">
              <a href="books/<%= book.genre %>/edit">Edit</a>
            </button>
            <button class="btn" type="submit">
              <a href="books/<%= book.genre %>/delete">Delete</a>
            </button>
          </div>
          <% } else { %><%= book.name %> [Isn't reviewed] <% } %>
        </div>
        <% }) %>
      </section>
      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
