<html lang="en">
  <%- include('../includes/head',{title: 'Books | NextBook'})%>
  <body>
    <%- include('../includes/header')%>
    <!-----------Suggested Books-------->

    <section class="main">
      <main>
        <span class="pages">Name: <%= book.name%></span>
        <span class="pages">Author: <%= book.author%></span>
        <span class="pages">Pages: <%= book.pages%></span>
        <p class="review">Review: <%= book.review %></p>
        <p class="review">Genre: <%= book.genre %></p>
        <p class="rating">Ratings: <%= book.rating%></p>
      </main>
      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
