<html lang="en">
  <%- include('../includes/head',{title: 'Books | NextBook'})%>
  <body>
    <section class="mainContainer">
      <%- include('../includes/header')%>
      <!-----------Suggested Books-------->

      <section class="main updatedBook">
        <main>
          <span class="pages">Name: <%= book.name%></span><br />
          <span class="pages">Author: <%= book.author%></span><br />
          <span class="pages">Pages: <%= book.pages%></span><br />
          <p class="review">Review: <%= book.review %></p>
          <p class="review">Genre: <%= book.genre %></p>
          <p class="rating">Ratings: <%= book.rating%></p>
        </main>
        <!----- Footer ------->
      </section>
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
